<div class="jumbotron">
  <h1><%= @project.title() %></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Add a volunteer to <%= @project.title() %> </h3>
        </div>
        <div class="panel-body">
          <form action="/volunteers" method="post">
            <input id="project_id" name="project_id" type="hidden" value="<%= @project.id() %>">

            <label for="name">Name of the volunteer:</label>
            <input id="name" name="name" type="text">

            <button class="btn btn-success" type="submit">Add volunteer</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class ="panel-title">Here are all the volunteers assigned to  <%= @project.title() %> </h3>
        </div>
        <div class="panel-body">
          <% if @project.volunteers().any?() %>
            <ul>
              <% @project.volunteers().each() do |volunteer| %>
                <li><a href="/volunteers/<%= volunteer.id()%>"><%= volunteer.name() %></a> </li>
              <% end %>
            </ul>

            <% else %>
              <p>There are no volunteers on this project!</p>
          <% end %>
        </div>
      </div>
    </div>

  </div>



  <hr>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-warning"><a href="/project_edit/<%= @project.id()%>">Edit Project</a></button>
      <br>
      <br>

      <button class="btn btn-primary"><a href="/">Click here to return home</a></button>
    </div>

  </div>

</div>
